#container {
  margin: 0 auto 25px;
  position: relative;
  padding-bottom: 10px;
}

h1{
  text-align: center;
  font-size: 200%;
  font-family:'Impact', sans-serif;

}

h2{
  text-align: center;
  font-family:'Courier New', sans-serif;
}

.grid {
  background: #fff;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  float: left;
  font-size: 12px;
  margin: 8px;
  min-height: 100px;
  padding: 15px;
  width: 188px;
  transition: top 1s ease, left 1s ease;
}
.grid h2 {
  border-bottom: 1px solid #ccc;
  color: #fa3599;
  display: block;
  font-family: 'Donegal One', serif;
  font-size: 17px;
  margin: 5px 0;
  padding: 0 0 5px;
}
.grid .meta {
  color: #777;
  font-style: italic;
  text-align: center;
}
.grid .imgholder img {
  background: #ccc;
  display: block;
  max-width: 100%;
}

.box6 {
    padding: 0.5em 1em;
    margin: 2em 10em;
    background: #f0f7ff;
    text-align: center;
    border: dashed 2px #5b8bd0;/*点線*/
}
.box6 p {
    margin: 10;
    padding: 0;
    font-family:'Courier New', sans-serif;
}
